@charset "utf-8";

@media (max-width: 400px) {
  .logo {
    width: 65px;
    height: 65px;
  }

  .logo > a > img {
    margin: 2px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 3px 2px 3px black;
  }

  .logo > a > img:hover {
    width: 60px;
    height: 60px;
    box-shadow: 5px 4px 3px black;
  }

  .logo > a > img:active {
    width: 55px;
    height: 55px;
    box-shadow: 3px 2px 3px black;
  }
}

@media (min-width: 401px) {
  .logo {
    width: 65px;
    height: 65px;
  }

  .logo > a > img {
    margin: 2px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 3px 2px 3px black;
  }

  .logo > a > img:hover {
    width: 60px;
    height: 60px;
    box-shadow: 5px 4px 3px black;
  }

  .logo > a > img:active {
    width: 55px;
    height: 55px;
    box-shadow: 3px 2px 3px black;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background: rgb(255, 192, 97) url(../imagens/fundo-madeira.jpg) center center
    no-repeat fixed;
  background-size: cover;
}
main {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.iphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tela {
  width: 214px;
  height: 321px;
}
.frame {
  width: 214px;
  height: 323px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 22vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
